/* css Zen Garden default style v1.02 */
/* css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/1.0/  */

/* This file based on 'Tranquille' by Dave Shea */
/* You may use this file as a foundation for any new work, but you may find it easier to start from scratch. */
/* Not all elements are defined in this file, so you'll most likely want to refer to the xhtml as well. */

/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */


/* basic elements */
html {
	background:	#FFC0CB;
	margin:0;
	padding: 5%

	}
body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	background: #fff url() no-repeat bottom right; 
	margin: 0; 
	padding: 0;
	}
p { 
	margin-top: 0; 
	text-align: justify;
	}
h3 { 
	font: italic 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color:yellow;
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}
abbr {
	border-bottom: none;
	}


/* specific divs */
.page-wrapper { 
	background: url() no-repeat top left; 
	padding: 126px 175px 0 110px;  
	margin: 0; 
	position: relative;
    background-size: cover;	
	background-image: url("b3128be9b0081ffbac262883a2fb9e7b.jpg");

	

}
.text {
	color: white;
	font-size: 2em;
}
.hp {
	text-align: right;
	color:green;
    font-size: 2em;
}
.hs {
	text-align: center;
	color:black;
	font-size: 4em;
	text-decoration: underline 
	
}
.intro { 
	min-width: 470px;
	width: 100%;
	

	}

/* header h1 { 
	color:black;
	text-align: center;
	text-decoration: underline ;
	font-size:4em;
	padding-bottom: 0px;
	padding-top: px;
	
	}
header h2 { 
	color:greenyellow;
	font-size: 4em;
	letter-spacing: 1px; 
	line-height:0em;
	text-align:right;
	} */
header {
	padding-top: 20px;
	height: 87px;
}
hr.new5 {
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: #555753;
  }
summary{
	clear: both; 
	margin: 20px 20px 20px 10px; 
	width: 160px; 
	float: left;
	text-align: center;
	}

.summary p {
	font: italic 1.1em/2.2 georgia; 
	text-align: center;
	}

.preamble {
	clear: right; 
	padding: 0px 10px 0 10px;
	color: white;
	font-size: 2em;
	}
.supporting {	
	padding-left: 10px; 
	margin-bottom: 40px;
	}

footer { 
	text-align: center; 
	}
footer a:link, footer a:visited { 
	margin-right: 20px; 
	}

.sidebar {
	margin-left: 600px; 
	position: absolute; 
	top: 500px; 
	right: 0;
	background-image: url("ice.jpg");
	color: black;

	}
	.ground {
		background-color:pink;
	}
.sidebar .wrapper { 
	font: 10px verdana, sans-serif; 
	background: transparent url() top left repeat-y; 
	padding: 10px; 
	margin-top: 150px; 
	width: 130px; 
	color: black;
	}
.sidebar h3.select { 
	background: transparent url() no-repeat top left; 
	margin: 10px 0 5px 0; 
	width: 97px; 
	height: 16px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	color: black;
	
	}
.sidebar h3.archives { 
	background: transparent url(http://csszengarden.com/001/h5.gif) no-repeat top left; 
	margin: 25px 0 5px 0; 
	width:57px; 
	height: 14px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	color: black;
	}
.sidebar h3.resources { 
	background: transparent url(http://csszengarden.com/001/h6.gif) no-repeat top left; 
	margin: 25px 0 5px 0; 
	width:63px; 
	height: 10px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	color: black;
	}


.sidebar ul {
	margin: 0;
	padding: 0;
	}
.sidebar li {
	line-height: 1.3em; 
	background: transparent url(http://csszengarden.com/001/cr1.gif) no-repeat top center; 
	display: block; 
	padding-top: 5px; 
	margin-bottom: 5px;
	list-style-type: none;
	}
.sidebar li a:link {
	color:black;
	}
.sidebar li a:visited {
	color: black;
	}

.extra1 {
	background: transparent url() top left no-repeat; 
	position: absolute; 
	top: 40px; 
	right: 0; 
	width: 148px; 
	height: 110px;
	}
